In [1]:
import pandas as pd

In [19]:
df = pd.read_excel('data.xlsx', sheet_name='List1')
df

,Jméno,Pohlaví,Věk,Forma DMO,GMFCS,LS Dle Vojty,Sebeobsluha,Mobilita,Sociální fce,sebeobsluha2,Mobilita2,Sociální fce2,Statická balance sedu,selektivní kontrola,Dynamický dosah,celkové skore TCSM
0,Brožová Markéta,Ž,7,kvadruparéza,III,6,48.0,31.0,54.0,60.5,52.2,64.1,11,6,3,20
1,Fůsek Kryštof,M,8,diparéza,IV,4,47.0,10.0,62.0,59.9,30.6,82.2,8,4,3,15
2,Horvátová Nela,Ž,13,diparéza,III,7,73.0,56.0,62.0,100.0,85.2,82.2,13,11,7,31
3,Chinedu Denis Stanley,M,9,kvadruparéza,IV,5,43.0,15.0,56.0,57.4,37.1,66.2,6,3,3,12
4,Kallasch Oliver,M,4,hemiparéza,I,6,51.0,54.0,62.0,62.5,79.8,82.2,10,9,6,25
5,Kremserová Natálie,Ž,8,diparéza,III,6,71.0,44.0,63.0,85.1,63.9,89.1,13,17,9,39
6,Macan Daniel,M,10,kvadruparéza,V,1,13.0,0.0,38.0,35.1,0.0,53.2,0,0,0,0
7,Német Jakub,M,6,kvadruparéza,V,1,23.0,28.0,15.0,43.6,49.7,38.8,3,1,4,8
8,Pejšek Ivo,M,9,diparéza,II,7,48.0,54.0,61.0,60.5,79.8,77.3,18,9,8,35
9,Rubešová Josefína,Ž,4,hemiparéza,I,7,62.0,58.0,57.0,70.8,94.2,67.4,13,11,6,30
10,Skřivan Lukáš,M,9,diparéza,II,7,73.0,57.0,64.0,100.0,89.2,96.3,18,12,5,35
11,Soukupová Denisa,Ž,10,triparéza,III,8,46.0,34.0,60.0,59.3,54.8,73.4,16,9,3,28
12,Šimůnek Vít,M,12,hemiparéza,I,8,60.0,53.0,55.0,69.1,77.3,65.1,13,12,3,28
13,Šnajdr Jan,M,13,kvadruparéza,V,1,9.0,1.0,11.0,30.7,6.1,35.1,0,0,0,0
14,xy,x,6,hemiparéza,II,8,NaN,NaN,NaN,68.3,94.2,82.2,20,11,7,38
15,xy,x,6,hemiparéza,II,8,NaN,NaN,NaN,63.2,61.9,82.2,20,10,6,36
16,xy,x,7,diparéza,IV,4,NaN,NaN,NaN,43.6,46.1,49.7,3,2,0,5
17,xy,x,8,diparéza,III,7,NaN,NaN,NaN,63.2,61.9,82.2,20,15,9,44
18,xy,x,9,diparéza,II,8,NaN,NaN,NaN,54.3,68.7,59.9,20,13,6,39
19,xy,x,10,hemiparéza,I,9,NaN,NaN,NaN,100.0,100.0,100.0,20,18,8,46
20,xy,x,15,diparéza,III,6,NaN,NaN,NaN,65.2,77.3,89.1,14,6,0,20
21,xy,x,16,diparéza,I,9,NaN,NaN,NaN,100.0,100.0,100.0,20,15,9,44
22,xy,x,16,diparéza,I,9,NaN,NaN,NaN,100.0,100.0,100.0,20,16,8,44
23,xy,x,18,hemiparéza,I,8,NaN,NaN,NaN,100.0,100.0,100.0,20,16,10,46
24,Zadrobílek Tomáš,M,9,hemiparéza,II,8,70.0,45.0,58.0,81.4,65.0,68.9,20,14,9,43

In [20]:
df.columns

Index(['Jméno', 'Pohlaví', 'Věk', 'Forma DMO', 'GMFCS', 'LS Dle Vojty',
       'Sebeobsluha', 'Mobilita', 'Sociální fce', 'sebeobsluha2', 'Mobilita2',
       'Sociální fce2', 'Statická balance sedu', 'selektivní kontrola',
       'Dynamický dosah', 'celkové skore TCSM'],
      dtype='object')

In [21]:
# keep only relevant coloumns
df = df[["Jméno", 'LS Dle Vojty', 'Sebeobsluha', 'Mobilita', 'celkové skore TCSM', 'sebeobsluha2', 'Mobilita2']]
df

,Jméno,LS Dle Vojty,Sebeobsluha,Mobilita,celkové skore TCSM,sebeobsluha2,Mobilita2
0,Brožová Markéta,6,48.0,31.0,20,60.5,52.2
1,Fůsek Kryštof,4,47.0,10.0,15,59.9,30.6
2,Horvátová Nela,7,73.0,56.0,31,100.0,85.2
3,Chinedu Denis Stanley,5,43.0,15.0,12,57.4,37.1
4,Kallasch Oliver,6,51.0,54.0,25,62.5,79.8
5,Kremserová Natálie,6,71.0,44.0,39,85.1,63.9
6,Macan Daniel,1,13.0,0.0,0,35.1,0.0
7,Német Jakub,1,23.0,28.0,8,43.6,49.7
8,Pejšek Ivo,7,48.0,54.0,35,60.5,79.8
9,Rubešová Josefína,7,62.0,58.0,30,70.8,94.2
10,Skřivan Lukáš,7,73.0,57.0,35,100.0,89.2
11,Soukupová Denisa,8,46.0,34.0,28,59.3,54.8
12,Šimůnek Vít,8,60.0,53.0,28,69.1,77.3
13,Šnajdr Jan,1,9.0,1.0,0,30.7,6.1
14,xy,8,NaN,NaN,38,68.3,94.2
15,xy,8,NaN,NaN,36,63.2,61.9
16,xy,4,NaN,NaN,5,43.6,46.1
17,xy,7,NaN,NaN,44,63.2,61.9
18,xy,8,NaN,NaN,39,54.3,68.7
19,xy,9,NaN,NaN,46,100.0,100.0
20,xy,6,NaN,NaN,20,65.2,77.3
21,xy,9,NaN,NaN,44,100.0,100.0
22,xy,9,NaN,NaN,44,100.0,100.0
23,xy,8,NaN,NaN,46,100.0,100.0
24,Zadrobílek Tomáš,8,70.0,45.0,43,81.4,65.0

In [22]:
df.columns = ['name', 'vojta', 'selfcare_unscaled', 'mobility_unscaled', 'total', "selfcare", "mobility"]
df.head()

,name,vojta,selfcare_unscaled,mobility_unscaled,total,selfcare,mobility
0,Brožová Markéta,6,48.0,31.0,20,60.5,52.2
1,Fůsek Kryštof,4,47.0,10.0,15,59.9,30.6
2,Horvátová Nela,7,73.0,56.0,31,100.0,85.2
3,Chinedu Denis Stanley,5,43.0,15.0,12,57.4,37.1
4,Kallasch Oliver,6,51.0,54.0,25,62.5,79.8

In [9]:
df.to_csv('data.csv', index=False)